include AUTHORS
include ChangeLog
include COPYING
include doc/*.rst
include doc/Makefile
include examples/good-bye-world*
include examples/hello-world*
include examples/xterm*
include fuzzers/notworking/fusil-*
include graph.sh
include IDEAS
include INSTALL
include lsall.sh
include pyflakes.sh
include MANIFEST.in
include README
include README.windows.txt
include test_doc.py
include tests/*.rst
include tests/cmd_help/*.help
include TODO
